
@import url("https://fonts.googleapis.com/css?family=Great+Vibes|Lato:300,400|Philosopher");

.section{
  text-align:center;
}
#section0 {
  background-image: url('/images/1.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
#section1 {
  background-image: url('/images/bg1.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#section2 {
  background-image: url('/images/bg2.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#section3 {
  background-image: url('/images/bg3.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.simple {
  color: #fff;
  margin:0;
  color: #ffffff;
  font-size: 8rem;
  font-family: 'Great Vibes', cursive;
  font-weight: 500;
  text-shadow: 1px 2px 7px #363737;
}
h2 {
  color: #ffffff;
  padding-left: 80px;
  font-size: 1.9rem;
  font-family: 'Lato', serif;
  text-shadow: 1px 2px 7px #363737;
  font-weight: 300;
  margin:0;
}
.intro {
  position: absolute;
  top: 0;
}
.intro p{
  padding-top: 15px;
  font-family: 'Lato', sans-serif;
  width: 80%;
  font-weight: 400;
  margin: 0 auto;
  font-size: 1rem;
  color: #ffffff;
  text-shadow: 1px 1px 5px #363737;
}
h1{
  font-size: 3rem;
  font-family: 'Philpsopher', cursive;
  color: #ffffff;
  text-shadow: 1px 2px 3px #363737;
  margin: 0 auto;
  width: 50%;
  border-bottom: 2px solid #ffffff;
}

@media (max-width: 667px) {
  .intro {
    position: absolute;
    top: 0;
  }
  .intro p{
    padding-top: 15px;
    font-family: 'Lato', sans-serif;
  	width: 80%;
    font-weight: 400;
  	margin: 0 auto;
  	font-size: 1rem;
    color: #ffffff;
    text-shadow: 1px 1px 5px #363737;
  }
  h1{
    font-size: 3rem;
    font-family: 'Philpsopher', cursive;
    color: #ffffff;
    text-shadow: 1px 2px 3px #363737;
    margin: 0 auto;
    width: 50%;
    border-bottom: 2px solid #ffffff;
  }
  .simple {
    color: #fff;
    margin:0;
    color: #ffffff;
    font-size: 5rem;
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
    text-shadow: 1px 2px 7px #363737;
  }
  h2 {
    color: #ffffff;
    font-weight: 300;
    padding-left: 20px;
    font-size: 1.1rem;
    font-family: 'Lato', serif;
    text-shadow: 1px 2px 7px #363737;
    margin:0;
  }
}
@media (min-width: 768px) {
  .intro {
  width: 100%;
  height: 95%;

  }
  .intro p{
    padding-top: 15px;
    font-family: 'Lato', sans-serif;
    width: 100%;
    font-weight: 400;
    margin: 0 auto;
    font-size: 1.1rem;
    color: #ffffff;
    text-shadow: 1px 1px 3px #363737;
  }
  h1{
    font-size: 3.1rem;
    font-family: 'Philpsopher', cursive;
    color: #ffffff;
    text-shadow: 1px 2px 3px #363737;
    margin: 0 auto;
    width: 50%;
    border-bottom: 2px solid #ffffff;
  }
  .simple {
    color: #fff;
    margin:0;
    color: #ffffff;
    font-size: 7rem;
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
    text-shadow: 1px 2px 7px #363737;
  }
  h2 {
    color: #ffffff;
    font-weight: 300;
    padding-left: 40px;
    font-size: 1.5rem;
    font-family: 'Lato', serif;
    text-shadow: 1px 2px 7px #363737;
    margin:0;
  }
}
